<h2 class='ui-widget-header'>ตัวอย่างไฟล์ help.html</h2>
<p>เราสามารถสร้าง page ใหม่
เก็บอยุ่ใน folder views/subpage </p>
<p>สำหรับ editor แนะนำให้ใช้ <a href='http://notepad-plus-plus.org/'>notepad++</a> </p>
<p>โดยกำหนด encoding ให้เป็น UTF-8 without BOM
</p>
<p>ควรศึกษาเพิ่ม
เติมเกี่ยวกับ javascript และ <a href='http://jquery.com/'>jquery</a>, <a href='http://jqueryui.com/'>jquery-ui</a> </p>
<p>เราสามารถใช้ความสามารถของ
template ศึกษาได้จาก bottle's <a href='http://bottlepy.org/docs/dev/stpl.html'>simple template engine</a> </p>
